.containerSubstance {
    display: flex;
    justify-content: space-between;
    
    margin: auto;
 
    width: 200px;
}

h2 {
    font-size: 18px;
    
    padding: 2px;
}

.percent {
    font-size: 15px;
}