
.containerBttn {
    display: flex;
    align-items: center;

    height: max-content;
    padding: 7px;

    border: 2px solid var(--greenTertiary);
    border-radius: 20px;

    background-color: #FBFAF8;

    cursor: pointer;
}

.heart {
    margin-bottom: -2px;
    
    font-size: 18px;

    color: var(--greenTertiary);
}

.likes {
    font-size: 16px;
    
    margin: 0px 7px;
}