@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
}

:root {
    --whitePrimary: #F1F2F0;
    --creamPrimary: #e4cfb9;
    --creamSecondary: #E5D2B8;
    --greenPrimary: #809671;
    --greenSecondary: #99DDC8;
    --greenTertiary: #95BF74;

    --marrom: #725C3A;
    --bege: #D2AB80;

    --defaultFont: "Montserrat", sans-serif;
}

body {
    width: 100%;
    
    background-color: var(--whitePrimary);
    
    font-family: var(--defaultFont); 
}

.cotainerApp {
    display: flex;
}

.horizontal  {
    height: 1px;
    width: 100%;
    
    margin: 100px 0;
    
    background-color: var(--creamPrimary);
}

.vertical {
    height: 100%;
    width: 1px;
    
    margin: 0 50px;
    background-color: var(--creamPrimary);
}

section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 85%;
    height: 83vh;
    
    margin: auto;

    /* border: 1px solid; */
}

.firstContainer {
    height: 38vh;
}

.btn_arrow {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    border: 1px solid;
    border-radius: 50%;
    cursor: pointer;
}

.divImg {
    display: flex;

    position: relative;
    top: 20%;
    
    width: 37%;
}

.imagemPlant {
    width: 100%;
    height: 86%;
}

.infosRap {
    display: flex;
    
    width: 50%;
    height: 70%;
}

.namesReview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nameType {
    display: flex;
    width: 50%;
}

.containerSocialMedia {
    display: flex;
    justify-content: end;
}

.infoSection{
    background-color: var(--greenTertiary);
    padding: 0 100px;
}

.containerSection {
    width: 500px;
}

.typePlant {
    padding: 2px 6px;

    height: fit-content;
    width: fit-content;
    
    font-size: 14px;
    font-weight: 600;
    
    border-radius: 12px;
    
    background-color: var(--greenTertiary);
}

.namePopName {
    display: flex;
    align-items: center;
}

.namePopName h1 {
    padding-right: 10px;
}

.namePopName h1 {
    padding-right: 10px;
}

.likeBttn {
    padding: 10px;
    width: 60px;
    border-radius: 50px;
    border: 2px solid #809671;
}

.containerTypes {
    display: flex;
    justify-content: space-between;
    
    margin: 2px auto;

    font-size: 15px;
    font-weight: 600;
    
    width: 97%;
}

.containerBlocks {
    margin: 15px 0 ;
}

.containerBlocks div {
    margin-bottom: 15px;
}

.prinEffc p {
    margin-right: 10px;
}

.prinFlv {
    display: flex;
    background-color: #D2AB80;
}

.prinFlv p {
    margin-right: 10px;
}

.infosPlant {
    width: 65%;
    height: 100%;
}

.infoTabs {
    display: flex;

    width: fit-content;
    
    font-size: 10px;    
}

.infoTabs > div {
    background-color: var(--creamSecondary);
}

.tab {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 3px 7px;
    background-color: white;
    border-bottom-left-radius: 10px;
}

.selected {
    background-color: var(--creamSecondary);
}

.infos {
    background-color: var(--creamSecondary);
    padding: 5px;
    height: 85%;
}

.infoCarac {
    width: 35%;
    border: 2px solid black;
    height: 250px;
}
